<a href="https://colab.research.google.com/github/jb8794/NLP_ENSAE/blob/master/Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **I) Data exploration and processing**

Importing necessary packages

In [0]:
import numpy as np
import pandas as pd

## I.A) Exploring data on businesses

In [0]:
df_business = pd.read_json('/content/drive/My Drive/business.json', lines=True)

In [3]:
len(df_business.index)

192609

In [4]:
df_business.head()

              business_id  ...                                              hours
0  1SWheh84yJXfytovILXOAQ  ...                                               None
1  QXAEGFB4oINsVuTFxEYKFQ  ...  {'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...
2  gnKjwL_1w79qoiV3IC_xQQ  ...  {'Monday': '17:30-21:30', 'Wednesday': '17:30-...
3  xvX2CttrVhyG2z1dFg_0xw  ...  {'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...
4  HhyxOkGAM07SRYtlQ4wMFQ  ...  {'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...

[5 rows x 14 columns]

Selecting the restaurants

In [0]:
df_restaurants = df_business[df_business['categories'].str.contains('Restaurants',case=False, na=False)]

In [6]:
len(df_restaurants.index)

59371

Duplicating lines for each word in "categories" ("exploding" categories), since one restaurant may belong to several categories

In [0]:
df_restaurants_exploded = df_restaurants.assign(categories = df_restaurants.categories.str.split(', ')).explode('categories')

In [8]:
df_restaurants_exploded.head()

              business_id  ...                                              hours
1  QXAEGFB4oINsVuTFxEYKFQ  ...  {'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...
1  QXAEGFB4oINsVuTFxEYKFQ  ...  {'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...
1  QXAEGFB4oINsVuTFxEYKFQ  ...  {'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...
1  QXAEGFB4oINsVuTFxEYKFQ  ...  {'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...
1  QXAEGFB4oINsVuTFxEYKFQ  ...  {'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...

[5 rows x 14 columns]

Exploring categories related to restaurants. In the rest of the project, we will keep the four biggest categories (in terms of "national types") : American (traditional), Italian, Mexican and Chinese

In [9]:
print(df_restaurants_exploded.categories.value_counts().to_string())

Restaurants                         59371
Food                                14800
Nightlife                            8562
Bars                                 8182
Sandwiches                           7332
Fast Food                            7257
American (Traditional)               7107
Pizza                                6804
Burgers                              5404
Breakfast & Brunch                   5381
American (New)                       4882
Italian                              4716
Mexican                              4618
Chinese                              4428
Coffee & Tea                         3647
Cafes                                3232
Japanese                             2716
Chicken Wings                        2705
Event Planning & Services            2685
Salad                                2531
Seafood                              2508
Sushi Bars                           2258
Specialty Food                       2091
Delis                                1955
Asian Fusion                         1953
Canadian (New)                       1909
Mediterranean                        1834
Bakeries                             1833
Caterers                             1829
Barbeque                             1814
Sports Bars                          1811
Desserts                             1725
Steakhouses                          1603
Pubs                                 1491
Indian                               1489
Thai                                 1449
Diners                               1433
Middle Eastern                       1317
Vietnamese                           1286
Wine & Spirits                       1135
Beer                                 1135
Vegetarian                           1123
Greek                                1086
Arts & Entertainment                 1037
French                               1027
Ice Cream & Frozen Yogurt             993
Cocktail Bars                         965
Wine Bars                             956
Korean                                923
Lounges                               908
Juice Bars & Smoothies                908
Buffets                               893
Ethnic Food                           867
Comfort Food                          860
Gluten-Free                           858
Vegan                                 848
Soup                                  844
Hot Dogs                              757
Tex-Mex                               737
Food Delivery Services                735
Shopping                              641
Caribbean                             634
Halal                                 620
Food Trucks                           605
Latin American                        591
Grocery                               585
Chicken Shop                          574
Venues & Event Spaces                 564
Gastropubs                            557
Southern                              536
Tapas/Small Plates                    480
Pakistani                             479
Noodles                               476
Bagels                                447
Tapas Bars                            417
Music Venues                          405
Hotels & Travel                       399
Local Flavor                          360
Beer Bar                              353
Food Stands                           335
Hawaiian                              329
Fish & Chips                          319
Soul Food                             316
Donuts                                315
Active Life                           310
Cajun/Creole                          303
Dim Sum                               302
Imported Food                         299
Hotels                                282
Tacos                                 271
Breweries                             270
Dive Bars                             264
Creperies                             261
Portuguese                            249
Street Vendors                        247
Lebanese                              239
Ramen                                 237
Filipino                              235
Taiwanese                             223
Modern European                       216
Cheesesteaks                          214
Bubble Tea                            203
Irish                                 203
Karaoke                               203
Food Court                            202
Meat Shops                            198
Dance Clubs                           198
Spanish                               193
Tea Rooms                             192
Persian/Iranian                       185
Poutineries                           181
Casinos                               175
Party & Event Planning                166
Health Markets                        163
Convenience Stores                    157
British                               156
Wraps                                 154
Poke                                  153
African                               148
Hookah Bars                           147
Bistros                               144
Falafel                               137
Turkish                               136
Afghan                                133
Brasseries                            132
Kosher                                131
Hot Pot                               124
Waffles                               119
Beauty & Spas                         113
Internet Cafes                        112
Peruvian                              111
Cantonese                             106
German                                103
Szechuan                               99
Automotive                             97
Golf                                   94
Local Services                         94
Arcades                                94
Patisserie/Cake Shop                   91
Brazilian                              90
Pan Asian                              89
Do-It-Yourself Food                    89
Irish Pub                              89
Delicatessen                           89
Seafood Markets                        88
Home & Garden                          86
Ethiopian                              84
Coffee Roasteries                      84
Flowers & Gifts                        83
Farmers Market                         82
Butcher                                82
Shopping Centers                       82
Jazz & Blues                           81
Polish                                 80
Live/Raw Food                          78
Kebab                                  78
Pool Halls                             77
Cuban                                  77
Home Services                          76
Cheese Shops                           75
Moroccan                               75
Malaysian                              75
Fruits & Veggies                       75
Health & Medical                       72
Organic Stores                         72
Pasta Shops                            72
Fashion                                71
Salvadoran                             70
Shaved Ice                             69
Arabian                                69
Chocolatiers & Shops                   68
Education                              68
International Grocery                  65
Custom Cakes                           64
Cupcakes                               64
Himalayan/Nepalese                     63
Russian                                61
Gas Stations                           60
Smokehouse                             59
Donairs                                59
Gelato                                 59
Bed & Breakfast                        58
New Mexican Cuisine                    55
Acai Bowls                             54
Professional Services                  53
Performing Arts                        53
Bowling                                53
Belgian                                51
Fondue                                 50
Mongolian                              50
Beer Gardens                           49
Art Galleries                          49
Day Spas                               48
Colombian                              48
Arts & Crafts                          46
Argentine                              46
Hakka                                  45
Wineries                               45
Pretzels                               43
International                          42
Cafeteria                              42
Festivals                              42
Cambodian                              42
Sri Lankan                             41
Brewpubs                               41
Wedding Planning                       40
Florists                               40
Resorts                                39
Adult Entertainment                    38
Mags                                   37
Books                                  37
Music & Video                          37
Hair Salons                            36
Personal Chefs                         36
Social Clubs                           36
Whiskey Bars                           35
Specialty Schools                      34
Venezuelan                             34
Public Services & Government           33
Drugstores                             32
Fitness & Instruction                  32
Teppanyaki                             32
Hungarian                              32
Kitchen & Bath                         32
Amusement Parks                        32
Singaporean                            31
Pets                                   31
Candy Stores                           31
Indonesian                             30
Basque                                 30
Cinema                                 29
Department Stores                      28
Gift Shops                             28
Gay Bars                               27
Puerto Rican                           26
Laotian                                26
Kids Activities                        25
Ukrainian                              25
Tours                                  24
Sporting Goods                         24
Izakaya                                24
Real Estate                            23
South African                          21
Bangladeshi                            21
Comedy Clubs                           20
Home Decor                             20
Dinner Theater                         20
Country Clubs                          20
Macarons                               20
Cosmetics & Beauty Supply              20
Cooking Schools                        20
Egyptian                               19
Wigs                                   19
Nail Salons                            19
Furniture Stores                       19
Ethnic Grocery                         19
Cooking Classes                        18
Appliances                             18
Dominican                              18
Tobacco Shops                          18
Bookstores                             17
Speakeasies                            17
Nutritionists                          17
Recreation Centers                     17
Massage                                16
Community Service/Non-Profit           16
Women's Clothing                       16
Contractors                            15
Playgrounds                            15
Swimming Pools                         14
Wholesale Stores                       14
Haitian                                14
Sports Clubs                           14
Beverage Store                         13
Empanadas                              13
Religious Organizations                13
Wholesalers                            12
Tabletop Games                         12
Hobby Shops                            12
Coffee & Tea Supplies                  12
Piano Bars                             12
Art Classes                            12
Burmese                                12
Gyms                                   12
Eatertainment                          12
Couriers & Delivery Services           11
Country Dance Halls                    11
Scandinavian                           11
Landmarks & Historical Buildings       11
Australian                             11
Public Markets                         11
Vitamins & Supplements                 11
Museums                                11
Pet Services                           11
Hong Kong Style Cafe                   11
Ethical Grocery                        11
Airports                               11
Pop-Up Restaurants                     11
Outlet Stores                          10
Syrian                                 10
Shanghainese                           10
Colleges & Universities                10
Parks                                  10
Themed Cafes                           10
Pharmacy                               10
Men's Clothing                         10
Hair Removal                           10
Armenian                                9
Libraries                               9
Skin Care                               9
Barbers                                 9
Tiki Bars                               9
Discount Store                          9
Herbs & Spices                          9
Yoga                                    9
Dry Cleaning & Laundry                  9
Toy Stores                              9
Stadiums & Arenas                       9
Sports Wear                             9
Appliances & Repair                     9
Auto Repair                             9
Musicians                               9
Personal Shopping                       8
Supper Clubs                            8
Art Schools                             8
Accessories                             8
Jewelry                                 8
Austrian                                8
Mini Golf                               8
Videos & Video Game Rental              8
Amateur Sports Teams                    8
DJs                                     8
Doctors                                 8
Weight Loss Centers                     8
Bartenders                              7
Yelp Events                             7
Hair Stylists                           7
Outdoor Furniture Stores                7
Wine Tasting Room                       7
Laser Tag                               7
Massage Therapy                         7
Financial Services                      7
Pet Stores                              7
Home Cleaning                           7
Champagne Bars                          7
Restaurant Supplies                     7
Nurseries & Gardening                   7
Antiques                                7
Party Supplies                          7
Shared Office Spaces                    7
Food Tours                              7
Sugar Shacks                            7
Cabaret                                 6
Honduran                                6
Strip Clubs                             6
Travel Services                         6
Popcorn Shops                           6
Trinidadian                             6
Japanese Curry                          6
Tennis                                  6
Czech                                   6
Conveyor Belt Sushi                     6
Shoe Stores                             6
Vinyl Records                           6
Animal Shelters                         6
Plumbing                                6
Real Estate Services                    6
Transportation                          6
Trainers                                6
Soccer                                  5
Pet Sitting                             5
Pub Food                                5
Beaches                                 5
Business Consulting                     5
Marketing                               5
Towing                                  5
Interior Design                         5
Dentists                                5
Churches                                5
Tires                                   5
Airport Lounges                         5
Grilling Equipment                      5
Paint & Sip                             5
Distilleries                            5
Car Wash                                5
Laundry Services                        5
Bike Repair/Maintenance                 5
Mattresses                              5
Photography Stores & Services           5
Hair Extensions                         5
Vintage & Consignment                   5
Party Equipment Rentals                 5
Used                                    5
Waxing                                  5
Iberian                                 5
Cards & Stationery                      5
Mobile Phones                           5
Tuscan                                  5
Life Coach                              5
Indoor Playcentre                       5
Electronics                             5
Supernatural Readings                   4
Auto Glass Services                     4
Team Building Activities                4
Medical Spas                            4
Golf Lessons                            4
Car Dealers                             4
Laser Hair Removal                      4
Scottish                                4
Bike Rentals                            4
Bikes                                   4
Souvenir Shops                          4
Eyelash Service                         4
Bar Crawl                               4
Limos                                   4
Leisure Centers                         4
Tasting Classes                         4
Coffeeshops                             4
Pool & Billiards                        4
Zoos                                    4
Hospitals                               4
Community Centers                       4
Heating & Air Conditioning/HVAC         4
Uzbek                                   4
Shaved Snow                             4
Slovakian                               4
Ticket Sales                            4
Guest Houses                            3
Meditation Centers                      3
Botanical Gardens                       3
Building Supplies                       3
Real Estate Agents                      3
Electricians                            3
Thrift Stores                           3
Tax Services                            3
Escape Games                            3
Auto Parts & Supplies                   3
Screen Printing                         3
Makeup Artists                          3
IT Services & Computer Repair           3
Fireplace Services                      3
Printing Services                       3
Pop-up Shops                            3
Web Design                              3
Music & DVDs                            3
Art Supplies                            3
Medical Centers                         3
Bridal                                  3
Sicilian                                3
Special Education                       3
Hostels                                 3
Cannabis Clinics                        3
Horse Racing                            3
Optometrists                            3
Apartments                              3
Nail Technicians                        3
Skating Rinks                           3
Bankruptcy Law                          3
Veterinarians                           3
Cideries                                3
Race Tracks                             3
Masonry/Concrete                        3
Farms                                   3
Body Shops                              3
Tanning                                 3
General Dentistry                       3
Office Equipment                        3
Computers                               3
Walking Tours                           3
Kombucha                                3
Lawyers                                 3
Funeral Services & Cemeteries           2
Wedding Chapels                         2
Laundromat                              2
Windows Installation                    2
Transmission Repair                     2

Keeping only the categories we selected in *df_restaurants*

In [0]:
df_restaurants=df_restaurants_exploded[(df_restaurants_exploded['categories']=='American (Traditional)') | (df_restaurants_exploded['categories']=='Italian') | (df_restaurants_exploded['categories']=='Mexican') | (df_restaurants_exploded['categories']=='Chinese')]

Exploring geographical (states) categories. In the rest of the study we will only keep the five US states where there is the highest number of restaurants in the dataset : AZ (Arizona), NV (Nevada), NC (North Carolina), OH (Ohio), PA (Pennsylvania) (no Canadian state like ON Ontario)

In [11]:
print(df_business.state.value_counts().to_string())

AZ     56686
NV     36312
ON     33412
NC     14720
OH     14697
PA     11216
QC      9219
AB      8012
WI      5154
IL      1932
SC      1162
NY        22
CA        19
TX         6
XGM        4
FL         4
CT         3
AL         3
WA         3
GA         2
AK         2
VT         2
VA         2
XWY        2
NE         2
BAS        1
XGL        1
NJ         1
BC         1
CON        1
TN         1
DOW        1
NM         1
DUR        1
UT         1
AR         1

## I.B) Opening data on users reviews

Because of the very large size of the reviews.json file, we cannot use the read_json function of pandas : it exceeds the RAM available on Google Colab. Instead, we use a function which opens the json line by line.

In [0]:
import json

def init_ds(json):
    ds= {}
    keys = json.keys()
    for k in keys:
        ds[k]= []
    return ds, keys

def read_json(file):
    dataset = {}
    keys = []
    with open(file) as file_lines:
        for count, line in enumerate(file_lines):
            data = json.loads(line.strip())
            if count ==0:
                dataset, keys = init_ds(data)
            for k in keys:
                dataset[k].append(data[k])
                
        return pd.DataFrame(dataset)

In [0]:
df_reviews = read_json('/content/drive/My Drive/review.json')

In [14]:
df_reviews.head()

                review_id  ...                 date
0  Q1sbwvVQXV2734tPgoKj4Q  ...  2013-05-07 04:34:36
1  GJXCdrto3ASJOqKeVWPi6Q  ...  2017-01-14 21:30:33
2  2TzJjDVDEuAW6MR5Vuc1ug  ...  2016-11-09 20:09:03
3  yi0R0Ugj_xUx_Nek0-_Qig  ...  2018-01-09 20:56:38
4  11a8sVPMUFtaC7_ABRkmtw  ...  2018-01-30 23:07:38

[5 rows x 9 columns]

In [15]:
len(df_reviews.index)

6685900

We merge the reviews with the restaurant data we opened in I.A). We merge on business_id.

In [0]:
df_reviews=pd.merge(left=df_reviews,right=df_restaurants, how='left', left_on='business_id', right_on='business_id')

We drop all the reviews lines for which we have NaNs : this corresponds to the restaurants types we did not select in I.A).

In [0]:
df_reviews=df_reviews.dropna()

In [18]:
df_reviews.head()

                 review_id  ...                                              hours
5   fdiNeiN_hoCxCMy2wTRW9g  ...  {'Tuesday': '16:0-22:0', 'Wednesday': '16:0-22...
6   G7XHMxG0bx9oBJNECG4IFg  ...  {'Monday': '14:0-0:0', 'Tuesday': '14:0-0:0', ...
12  Z7wgXp98wYB57QdRY3HQ3w  ...  {'Tuesday': '16:0-21:0', 'Wednesday': '16:0-21...
15  svK3nBU7Rk8VfGorlrN52A  ...  {'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...
17  6BnQwlxRn7ZuWdzninM9sQ  ...  {'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...

[5 rows x 22 columns]

## I.C) Opening data on revenue (from fiscal administration)

In [0]:
household_revenue=pd.read_excel('/content/drive/My Drive/USPostocodeRevenue.xlsx', header=1)

In [20]:
household_revenue.head()

  Unnamed: 0             Unnamed: 1  ...  Unnamed: 4  Unnamed: 5
0        NaN                    NaN  ...         NaN         NaN
1    ARIZONA                  Total  ...   1090040.0    478170.0
2    ARIZONA       $1 under $25,000  ...    141210.0    205240.0
3    ARIZONA  $25,000 under $50,000  ...    193940.0    179410.0
4    ARIZONA  $50,000 under $75,000  ...    186090.0     54590.0

[5 rows x 6 columns]

Rearranging the table extracted from excel : we get a table where each rows corresponds to a postcode area, each column corresponds to the number of households in a given revenue bracket : from 0 to 25000 dollars , 25000 to 50000 dollars ...

In [0]:
postcode_revenue = pd.DataFrame(columns=['ZipCode','number_taxpayers_postcode', '1_to_25000', '25000_to_50000','50000_to_75000','75000_to_100000','100000_to_200000','200000_and_more'])
for i in range(int((len(household_revenue.index)-1)/8)):
  postcode_revenue=postcode_revenue.append({'ZipCode': household_revenue.iloc[(1+8*i),0],'number_taxpayers_postcode': household_revenue.iloc[(1+8*i),2], '1_to_25000': household_revenue.iloc[(2+8*i),2], '25000_to_50000': household_revenue.iloc[(3+8*i),2], '50000_to_75000': household_revenue.iloc[(4+8*i),2],'75000_to_100000': household_revenue.iloc[(5+8*i),2],'100000_to_200000': household_revenue.iloc[(6+8*i),2],'200000_and_more':household_revenue.iloc[(7+8*i),2] }, ignore_index=True)

Converting the table values to type *float* to compute new features.

In [0]:
postcode_revenue['number_taxpayers_postcode']=postcode_revenue['number_taxpayers_postcode'].astype(float)
postcode_revenue['1_to_25000']=postcode_revenue['1_to_25000'].astype(float)
postcode_revenue['25000_to_50000']=postcode_revenue['25000_to_50000'].astype(float)
postcode_revenue['50000_to_75000']=postcode_revenue['50000_to_75000'].astype(float)
postcode_revenue['75000_to_100000']=postcode_revenue['75000_to_100000'].astype(float)
postcode_revenue['100000_to_200000']=postcode_revenue['100000_to_200000'].astype(float)
postcode_revenue['200000_and_more']=postcode_revenue['200000_and_more'].astype(float)

We compute the three following features:

*   postcode_average_revenue : average revenue per postcode area (taking for each bracket the center of the bracket, e.g. 12500 for [0,25000])
*   proportion_low_revenue : proportion of households earning less than 25000 dollar per year in a postcode area
*   proportion_high_revenue : proportion of households earning more than 100000 dollar per year in a postcode area

In [0]:
postcode_revenue['postcode_average_revenue']=(postcode_revenue['1_to_25000']*12500+postcode_revenue['25000_to_50000']*37500+postcode_revenue['50000_to_75000']*62500+postcode_revenue['75000_to_100000']*87500+postcode_revenue['100000_to_200000']*150000+postcode_revenue['200000_and_more']*400000)/(postcode_revenue['number_taxpayers_postcode'])
postcode_revenue['proportion_low_revenue']=100*postcode_revenue['1_to_25000']/postcode_revenue['number_taxpayers_postcode']
postcode_revenue['proportion_high_revenue']=100*(postcode_revenue['100000_to_200000']+postcode_revenue['200000_and_more'])/postcode_revenue['number_taxpayers_postcode']

In [24]:
postcode_revenue.head()

   ZipCode  ...  proportion_high_revenue
0  ARIZONA  ...                16.532318
1    85003  ...                22.580645
2    85004  ...                19.590643
3    85006  ...                 5.590062
4    85007  ...                11.580882

[5 rows x 11 columns]

In [0]:
postcode_revenue=postcode_revenue.drop(['1_to_25000','25000_to_50000','50000_to_75000','75000_to_100000','100000_to_200000','200000_and_more'],axis=1)

In [26]:
postcode_revenue.tail()

     ZipCode  ...  proportion_high_revenue
3505   19607  ...                14.503817
3506   19608  ...                26.258389
3507   19609  ...                13.653137
3508   19610  ...                30.086313
3509   19611  ...                 6.122449

[5 rows x 5 columns]

## I.D) Merging databases

Selecting reviews in the five US States we chose : Arizona, Nevada, North Carolina, Ohio, Pennsylvania

In [0]:
df_reviews['state']=df_reviews['state'].astype(str)
df_reviews=df_reviews[(df_reviews['state']=='AZ') | (df_reviews['state']=='NV') | (df_reviews['state']=='NC') | (df_reviews['state']=='OH') | (df_reviews['state']=='PA')]

Getting rid of lines with weird postcode values in the reviews database : a restaurant located in Ohio has a canadian type postcode! (M8Z 1N1)

In [0]:
df_reviews=df_reviews[df_reviews['postal_code']!='M8Z 1N1']
df_reviews=df_reviews[df_reviews['postal_code']!='']

Getting rid of some rows in the postcode database (they correspond to whole states instead of postcode areas)

In [0]:
for u in ['ARIZONA','NEVADA','NORTH CAROLINA','OHIO','PENNSYLVANIA']:
  postcode_revenue=postcode_revenue[postcode_revenue['ZipCode']!=u]

Converting postcode columns from *df_reviews* and *postcode_revenue* to same type to prepare for merge.

In [0]:
df_reviews['postal_code']=df_reviews['postal_code'].astype(int)
postcode_revenue['ZipCode']=postcode_revenue['ZipCode'].astype(int)

Merging reviews with postcode review data

In [0]:
df=pd.merge(left=df_reviews,right=postcode_revenue, how='left', left_on='postal_code', right_on='ZipCode')

In [39]:
df.head()

                review_id  ... proportion_high_revenue
0  fdiNeiN_hoCxCMy2wTRW9g  ...               12.933754
1  Z7wgXp98wYB57QdRY3HQ3w  ...               44.328922
2  6BnQwlxRn7ZuWdzninM9sQ  ...               14.313346
3  6BnQwlxRn7ZuWdzninM9sQ  ...               14.313346
4  Amo5gZBvCuPc_tZNpHwtsA  ...               25.752809

[5 rows x 27 columns]

In [33]:
len(df.index)

1443571

We drop reviews appearing on more than one row : this means that they correspond to restaurants belonging to different categories at the same time (for exemple, restaurants serving both mexican and chinese food).

In [0]:
df=df.drop_duplicates(subset=['review_id'], keep=False)

In [42]:
len(df.index)

1318654

Dropping columns we won't use

In [0]:
df=df.drop(['latitude','longitude','ZipCode'], axis=1)

In [45]:
df.head()

                review_id  ... proportion_high_revenue
0  fdiNeiN_hoCxCMy2wTRW9g  ...               12.933754
1  Z7wgXp98wYB57QdRY3HQ3w  ...               44.328922
4  Amo5gZBvCuPc_tZNpHwtsA  ...               25.752809
5  S337tATeouQJdoPYyir29w  ...                3.772706
6  qm97yMwREr7BKkexlwLFbg  ...               24.277457

[5 rows x 24 columns]

Saving our database (pickle format more convenient)

In [0]:
save_url = "/content/drive/My Drive/yelp_data_29032020.pkl"
df.to_pickle(save_url)

**II) Prediction of business characteristics based on user's reviews**

**III) Tip generation**