<a href="https://colab.research.google.com/github/jb8794/NLP_ENSAE/blob/master/Postcode_revenue_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
household_revenue=pd.read_excel('/content/drive/My Drive/householdscalifornia.xlsx', header=1)

In [23]:
household_revenue.head()

  ZIP\ncode [1]  ... Number of head of household returns
0           NaN  ...                                 NaN
1           NaN  ...                                  -4
2             0  ...                             2535510
3             0  ...                              888700
4             0  ...                              923610

[5 rows x 6 columns]

In [0]:
len(household_revenue.index)

11843

In [32]:
household_revenue.iloc[11824,:]

ZIP\ncode [1]                                     99999
Size of adjusted gross income          $200,000 or more
Number of returns                                 22940
Number of single returns                           4960
Number of joint returns                           17050
Number of head of household returns                 870
Name: 11824, dtype: object

In [0]:
postcode_revenue = pd.DataFrame(columns=['ZipCode', '1_to_25000', '25000_to_50000','50000_to_75000','75000_to_100000','100000_to_200000','200000_and_more'])
for i in range(int((len(household_revenue.index)-32)/8)):
  postcode_revenue=postcode_revenue.append({'ZipCode': household_revenue.iloc[(10+8*i),0], '1_to_25000': household_revenue.iloc[(10+8*i+1),2], '25000_to_50000': household_revenue.iloc[(10+8*i+2),2], '50000_to_75000': household_revenue.iloc[(10+8*i+3),2],'75000_to_100000': household_revenue.iloc[(10+8*i+4),2],'100000_to_200000': household_revenue.iloc[(10+8*i+5),2],'200000_and_more':household_revenue.iloc[(10+8*i+6),2] }, ignore_index=True)

In [46]:
postcode_revenue.tail()

     ZipCode 1_to_25000  ... 100000_to_200000 200000_and_more
1471   96134        350  ...               70               0
1472   96137        430  ...              160              30
1473   96146        270  ...               90              70
1474   96150       3390  ...             1000             330
1475   96161       1570  ...             1200             740

[5 rows x 7 columns]

In [0]:
postcode_revenue.to_csv (r'/content/drive/My Drive/california_revenue_per_postcode.csv', index = False, header=True)